<!DOCTYPE html>
<html>
<head>
    <title>客户流失信息查看</title>
    <th:block th:include="common::common"/>
</head>
<body class="childrenBody">
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <input name="id" type="hidden" th:value="${customerLoss?.id}"/>
                <div class="layui-form-item layui-row">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">客户名称</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input"
                                   name="cusName" id="cusName" th:value="${customerLoss?.cusName}" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">客户编号</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input"
                                   name="cusNo" id="cusNo" th:value="${customerLoss?.cusNo}" readonly="readonly">
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

<div class="layui-col-md12">
    <table id="customerLossReprieveList" class="layui-table" lay-filter="customerLossReprieves"></table>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-normal addNews_btn" lay-event="add">
            <i class="layui-icon">&#xe608;</i>
            添加暂缓
        </a>
        <a class="layui-btn layui-btn-normal addNews_btn" lay-event="confirm">
            <i class="layui-icon">&#xe608;</i>
            确认流失
        </a>
    </div>
</script>
<!--操作-->
<script id="customerLossReprieveBar" type="text/html">
    <a class="layui-btn layui-btn-xs" id="edit" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script type="text/javascript" th:src="@{/js/customerLoss/customer.loss.reprieve.add.js}"></script>
</body>
</html>