<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.crm.mapper.CustomerContactMapper">

    <resultMap id="BaseResultMap" type="com.softeem.crm.pojo.CustomerContact">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="cusId" column="cus_id" jdbcType="INTEGER"/>
            <result property="contactTime" column="contact_time" jdbcType="TIMESTAMP"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="overview" column="overview" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="isValid" column="is_valid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cus_id,contact_time,
        address,overview,create_date,
        update_date,is_valid
    </sql>
</mapper>
