<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.crm.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="com.softeem.crm.pojo.Log">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="requestIp" column="request_ip" jdbcType="VARCHAR"/>
            <result property="exceptionCode" column="exception_code" jdbcType="VARCHAR"/>
            <result property="exceptionDetail" column="exception_detail" jdbcType="VARCHAR"/>
            <result property="params" column="params" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="executeTime" column="execute_time" jdbcType="INTEGER"/>
            <result property="createMan" column="create_man" jdbcType="VARCHAR"/>
            <result property="result" column="result" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,description,method,
        type,request_ip,exception_code,
        exception_detail,params,create_date,
        execute_time,create_man,result
    </sql>
</mapper>
